[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca
prompt = no

[ req_distinguished_name ]
countryName         = US
stateOrProvinceName = California
localityName               = Santa Clara
organizationName           = My Organization 
organizationalUnitName     = Kubernetes
commonName                 = Kubernetes CA 

[ req_ext ]
subjectAltName = @alt_names

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ alt_names ]
DNS.1 = *.cluster.local
DNS.2 = localhost
DNS.3 = 127.0.0.1
